body{
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: white;
}
.logo{
    margin-left: 60px;
    margin-bottom: 10px;
}
form{
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 439px;
    height: 480px;
    padding: 10px 5px 20px 5px;
    margin: 10vh 662px;
}
input[type='text'], input[type='password']{
    display: block;
    background-color: rgb(242, 241, 241);
    margin: auto;
    border: 1px solid rgb(213, 213, 213);
    width: 300px;
    padding: 15px 5px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI';
    font-size: 15px;
    border-radius: 3px;
}
button{
    display: block;
    border: none;
    background-color: rgb(100, 152, 255);
    color: rgb(255, 255, 255);
    margin: 0px 63px;
    width: 314px;
    height: 45px;
    display: block;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.link{
    text-decoration: none;
    display: block;
    margin-left: 30%;
    margin-top: 5%;
    color: #1877f2;
    font-weight: 600;
    font-family: 'Segoe UI';
    font-size: 17px;
}
.facebook{
    align-items: flex-start;
}
.f-pws{
    text-decoration: none;
    display: block;
    width: 150px;
    margin-left: 38%;
    margin-top: 6%;
    color: rgb(96, 96, 96);
    font-family: 'Segoe UI';
    font-weight: 500;
}

.or12{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI';
    font-size: 20px;
    margin: 10px 0px 15px;
    color:  rgb(96, 96, 96);
}
.line{
    display: flex;
    height: 100%;
    width: 33%;
}
hr{
    width: 90%;
}

.sub-link h3{
    border: 1px solid rgb(213, 213, 213);
    position: absolute;
    width: 350px;
    height: 40px;
    padding: 20px 30px 0px 70px;
    margin: 598px 0px  0px 661px;
    font-family: 'Segoe UI';
    font-size: 15px;
    font-weight: 600;

}
.sub-link a{
    text-decoration: none;
    color: #1877f2;
}
.insta{
    margin-left: 200px;
}